<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Home Page</h1>

     <img src="<%= pic %> " alt="">
    

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error ex, perspiciatis accusamus cupiditate sequi quis, quos, omnis dicta autem ea distinctio vero deleniti optio? Libero modi dolores neque ut odit?

</body>

</html>