.navAnchor a {
  font-size: 11px !important;
  /* color: yellow !important; */
}

.quote{
    font-size: 12px;
    font-style: italic;
    color: darkgray;
}

.projectHover li:hover{
    background-color: rgb(250, 247, 210);
    color: maroon
}