<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Forum</h1>

    <form action="">
        Name<br> 
        <input type="text"  id="name"><br>
        Message<br>
        <textarea cols="30" rows="5"  id="message"></textarea>
        <br>
        <input type="submit">
    </form>

    <div id="comments">

    </div>

    <script>

        let form = document.querySelector('form');

        form.addEventListener('submit', (e)=>{
            e.preventDefault();

            fetch('/forum', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    name: document.querySelector('#name').value,
                    message: document.querySelector('#message').value
                })
                
            })
            .then(response => response.json())
            .then(data => {

                console.log(data)

                let comments = document.querySelector('#comments')

                comments.innerHTML += `<b>${data.name}</b> <i>${Date.now()}</i> <br>${data.message}<br>`
            })
        })

    </script>
</body>

</html>