<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Forum</h1>

    <form action="">
        Name<br> 
        <input type="text"  id="name"><br>
        Message<br>
        <textarea cols="30" rows="5"  id="message"></textarea>
        <br>
        <input type="submit">
    </form>

    <div id="comments">

    </div>

    <script src="/js/forum.js"></script>
</body>

</html>