<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    Hello this is homepage

    this is a view

    <%= photos %>

        <% photos.forEach(el=> { %>

            <div>
            Puppy images <br >
            <img height="300px" src="<%= el %>">
            </div>


            <% }) %>


</body>

</html>